html {
  background-color: black;
}

body {
  font-family: 'Work Sans';
}
.nav {
  display: flex;
  background-image: url("../../assets/ssd_banner.png");
  background-size: cover;
  padding: 0;
}

 h1 {
  color: rgb(245, 242, 242);
  align-self: center;
  font-weight: 200;
  font-size: 3rem;
 }
